.health-and-beauty {
  font-family: 'Quattrocento Sans', sans-serif;
  letter-spacing: 0.005em;
  margin: 0;
  color: #FFF;
}

@keyframes fadeOut {
  to {
    opacity: 0.6;
  }
}

@keyframes fadeOutWithColour{
  0%  {
    background:rgba(40, 40, 225, 0.6);
    transform:rotate(0deg);
  }
  25%  {
    background:rgba(243, 88, 16, 0.8);
    transform:rotate(45deg);
  }
  50%  {
    background:indianred;
    transform:rotate(90deg);
  }
  75%  {
    background:lightcoral;
    transform:rotate(135deg);
  }
  100% {
    background:rgba(40, 40, 225, 0.6);
    transform:rotate(180deg);
  }
}

.landing-img img {
  height: 50vh;
  display: block;
  margin: auto;
  animation: fadeOut 3s 1s 2 linear alternate;
}

.main-body {
  background-color: rgba(249, 5, 209, 0.4);
  height: 45vh;
  position: relative;
}

.title-container {
  display: flex;
  text-align: center;
  padding: 3vh 0;
  width: 100%;
  position: absolute;
  left: 35%;
}

h1 {
  font-size: 4vh;
}

h1,
h2 {
  margin: 0;
}


.circle {
  height: 20px;
  width: 20px;
  margin: 0.5% 0 0 0.5%;
  border-radius: 50%;
  background-color: rgba(40, 40, 225, 0.6);
  animation: fadeOutWithColour 3s 1s 3 alternate;
}

.featured-three {
  display: flex;
  position: absolute;
  top: 33%;
  height: 50%;
  width: 79%;
  left: 11%;
}


.feature {
  width: 33%;
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 4px;
  height: 15%;
  padding: 2%;
}

.feature:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.hair {
  margin: 0 1%;
}


footer {
  background-color: rgba(249, 5, 209, 0.4);
  height: 5vh;
}

.logo {
  border: 1px solid #FFF;
  border-radius: 4px;
  width: 75px;
  padding: 0.5% 1%;
  margin: 0 0 1.5% 1%;
  height: 15px;
}
