.health-and-beauty {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
}

.landing-img img {
  height: 50vh;
  display: block;
  margin: auto;
}

.main-body {
  background-color: rgba(249, 5, 209, 0.4);
  height: 50vh;
}

h1 {
  color: #FFF;
  text-align: center;
  padding: 3vh 0;
  font-size: 4vh;
  margin: 0;
}
